.post-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: auto;
    height: auto;
    margin: 25px 25px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: whitesmoke;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-title
{
    font-size: 25px;
    font-weight: bold;
    color: darkslategrey;
}

.post-author
{
    font-size: 12px;
    color: darkslategray;
}

.post-content
{
    font-size: 14px;
    color: darkslategrey;

}

.icon {
    float:right;
    margin: 5px auto;
    width: 30px;
    cursor: pointer;
}