@page "/"
@using BlueditWASM.Services.Http
@inject IAuthService authService
@inject NavigationManager navMgr

<PageTitle>Index</PageTitle>
<AuthorizeView>
    <NotAuthorized>
        <h1>Hello, world!</h1>
    </NotAuthorized>
    <Authorized>
        <div class="card">
            <h3>Hello, you´re logged in!</h3>
        </div>
    </Authorized>
</AuthorizeView>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>